@import "../utils/parameters";
@import "../utils/mixins";

.first-section {
    background-color: $c-secondary;
    overflow: hidden;
    

    .container {
        position: relative;
    }

    &__content {
        max-width: 55.7rem;
        padding: 20rem 0 5rem;
        min-height: 72rem;

    }

    &__title {
        color: $c-text;
        font-weight: bold;
        font-size: 5.5rem;
        line-height: 138%;
        letter-spacing: 1.11px;
        margin-bottom: 5rem;
    }

    &__link {

        color: $c-text;
        font-weight: bold;
        font-size: 1.8rem;
        
        background-color: $c-primary;
        border: 1px solid $c-primary;
        box-shadow: 0rem 0.3rem 1.8rem rgba(0, 201, 201, 0.55);
        border-radius: 1.4rem;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 1.9rem 2.6rem;

        &:hover {
            background-color: rgba(0,0,0,0.0);
            color: $c-text;
        }
        span {}
        img {
            margin-left: 1.3rem;
        }
    }

    &__img {
    
        position: absolute;
        right: -7rem;
        bottom: 0;
        max-width: 57vw;

    }
}


.primary {
    
    color: $c-primary;
    display: block;

}

.orange {
    color: #F3AF47;
}

@media screen and (max-width: $md) {
    .first-section {
        &__title {
        font-size: 5rem;
    }

        &__img {

        right: 1rem;
        }
    }    
}

@media screen and (max-width: $sm) {

    .first-section {
        &__content {
            min-height: 50rem;
            padding: 13rem 0 5rem;
        }

        &__title {
            font-size: 4rem;
            max-width: 40rem;
        }
    }

}

@media screen and (max-width: $xs) {

    .first-section {
        &__title {
            font-size: 3rem;
        }
        &__link {
            padding: 1.2rem 1.5rem;
        }

        &__img {
            position: static;
            max-width: 100%;
        }

        &__content {
            min-height: auto;
            padding: 14rem 0 0;
        }

        
    }

    
}
