section.first-section 
        .container 
            .first-section__content 
                h1.first-section__title 
                    span.primary Order ahead
                    | and earn rewards for every purchase
                    span.orange .

                a(href="#").first-section__link
                    span Discover how
                    img(src="../assets/imgs/pointer.svg", alt="pointer")
            img(src="../assets/imgs/first-section-img.png", alt="people").first-section__img
        