footer.footer
    .container 
        .footer-row 
            img(src="../assets/imgs/logo.svg", alt="logo")
            .footer-link 
                h3 Company
                p Merchant Portal
            .footer-link 
                h3 Support
                p FAQ
                p Terms of Service
                p Privacy Policy
            .footer-link 
                h3 Follow Us
                p Twitter
                p Instagram
                p Facebook
        img(src="../assets/imgs/footer-img.png", alt="leaf")
        img(src="../assets/imgs/footer-img2.png", alt="leaf")