section 
    .container 
      .box 
            img(src="../aasets/imgs/gifts-section-img.png", alt="phone")
            img(src="../assets/imgs/gifts-section-imgs2.png", alt="drink and berries")
            .gifts-section-text 
                p Please your friends
                h2 Send gifts and order for groups
                p  Send Gifts with a value for your friends and family and use it on their favorite stores. Be the rock star make Group Orders and pick up for your coworkers when they can't get away.
                