section.how-work
    .container 
        .how-work__row 
            .how-work__imgs-wrap
                img(src="../assets/imgs/phone1.png", alt="phone").how-work__phone                
                img(src="../assets/imgs/drink1.png", alt="drink").how-work__drink
                img(src="../assets/imgs/chips.png", alt="chips").how-work__chips
            .how-work__content 
                .how-work__top Your daily pick-me-up
                h2.how-work__title
                    span.line-break How does
                    | it work.
                .how-work__description Start choosing your favorite teas and snacks in your nearby stores and place your orders, accumulate points, share gifts and teas with your friends and co-workers, and finally use our T-Pass to get your free drinks.
