section 
    .container 
        .link-box 
            img(src="../assets/imgs/link-section.svg", alt="shop")
            h2 Enjoy your afternoon tea with a snack
            form(action="#") 
                input(type="tel")
            a(href="#") 
                p Send Link
            a(href="#") 
                img(src="../assets/imgs/app-store.svg", alt="App Store")
            a(href="#") 
                img(src="../assets/imgs/google-play.svg", alt="Google Play")