mixin bonus(args={})
    .bonus-box 
        img(src=args.img, alt=args.title)
        h3=args.title
        p=args.text 
+bonus({
    img: '../assets/imgs/bonus.svg',
    title: 'Loyalty Points',
    text: 'Collect points on each store and redeem them to change for Teas.'
})
+bonus({
    img: '../assets/imgs/bonus2.svg',
    title: 'Exclusive Store Discounts',
    text: 'You can enjoy lots of discounts from the selected stores near you.'
})
+bonus({
    img: '../assets/imgs/bonus3.svg',
    title: 'T.Pass Free Drinks',
    text: '2 Teas for $5.99 each month. and you can carry them over to the next month.'
})